<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre - Inicio</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/a0af39832e.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>

        <div class="main-header-top-bar">
            <div class='logo-barra'>
            <figure>
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre">
            </figure>            
                <form class="busqueda" action="#">
                    <div><input type="text" placeholder="Buscar productos, marcas" name="busqueda" id="busqueda"></div>
                    <div><button class="boton-barra" type="submit"><i class="fas fa-search"></i></button></div>
                </form>            
        </div>
        <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Compra en cuotas y sin tarjeta de credito
        </h2>

            <a href="#" class="hamburguer-button">
                <i class="fa fa-bars"></i>
            </a>
        </div>


        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a> </li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a> </li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Crea tu cuenta <i class="fas fa-address-card"></i></a> </li>
                <li><a href="/login">Ingresa <i class="fas fa-address-card"></i></a></li>
                <li><a href="#">Mis compras</a> </li>
            </ul>
        </nav>
    </header>

    <main>
        
        <form class='formulario-registro' action="/" method="get">
         <div class="formulario-flex">
            <label for="nombre">Nombre de usuario</label>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido">

      
            <label for="pass">Contrasena</label>
            <input type="password" name="pass" id="pass" placeholder="contrasena">

            <button type="submit" class="login-btn">Enviar</button>

        </div>

        </form>

    </main>

    <footer>
        <div class="footer-el">
        <div><i class="fas fa-credit-card icono"></i></div>
        <h3>Paga con tarjeta o en efectivoo</h3>
        <p>Con MercadoLiebreCash tenes cuotas sn interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
    </div>
    <div class="footer-el">
        <div><i class="fas fa-credit-card icono"></i></div>
        <h3>Paga con tarjeta o en efectivoo</h3>
        <p>Con MercadoLiebreCash tenes cuotas sn interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
    </div>
    <div class="footer-el">
        <div><i class="fas fa-credit-card icono"></i></div>
        <h3>Paga con tarjeta o en efectivo</h3>
        <p>Con MercadoLiebreCash tenes cuotas sn interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
    </div>

    </footer>
    
</body>
</html>