<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre - Inicio</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/a0af39832e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>

        <div class="main-header-top-bar">
            <div class='logo-barra'>
            <figure>
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre">
            </figure>            
                <form class="busqueda" action="#">
                    <input type="text" placeholder="Buscar productos, marcas" name="busqueda" id="busqueda">
                    <button class="boton-barra" type="submit"><i class="fas fa-search"></i></button>
                </form>            
        </div>
        <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Compra en cuotas y sin tarjeta de credito
        </h2>

            <a href="#" class="hamburguer-button">
                <i class="fa fa-bars"></i>
            </a>
        </div>


        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a> </li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a> </li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Crea tu cuenta <i class="fas fa-address-card"></i></a> </li>
                <li><a href="/login">Ingresa <i class="fas fa-address-card"></i></a></li>
                <li><a href="#">Mis compras</a> </li>
            </ul>
        </nav>
    </header>

    <main>
        
        <form class='formulario-registro' action="/" method="get">
            <h1>Registrate en Mercado Liebre</h1>
         <div class="formulario-flex">
            <label for="nombre">Nombre y apellido</label>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido">

            <label for="usuario">Nombre de usuari@</label>
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">


            <label for="nacimiento">Fecha de nacimiento</label>
            <input type="date" name="nacimiento" id="nacimiento">

            <label for="domicilio">Domicilio</label>
            <input type="text" name="domicilio" id="domicilio" placeholder="domicilio">
         </div>

         <div class="perfil-usuario">  
            <label for="tipo">Perfil de usuario</label><br>
            <input type="radio" id="comprador" name="perfil" value="comprador">
            <label for="comprador">Comprador</label>
            <input type="radio" id="vendedor" name="perfil" value="vendedor">
            <label for="vendedor">Vendedor</label><br>
         </div>

            <div class="intereses">                
            <label for="tipo">Intereses</label>

            <div><input type="checkbox" id="Interes1" name="Interes1" value="Interes1">
            <label for="Interes1"> Electro</label></div>

            <input type="checkbox" id="Interes2" name="Interes2" value="otro interes">
            <label for="Interes2"> Moda</label><br>

            <input type="checkbox" id="Interes3" name="Interes3" value="Interes3">
            <label for="Interes3"> Hogar</label><br>
            <input type="checkbox" id="Interes4" name="Interes3" value="Interes4">
            <label for="Interes4"> Jugueteria</label><br>
            <input type="checkbox" id="Interes5" name="Interes5" value="Interes5">
            <label for="Interes5"> Vida sana</label>
        </div>

        <br><label for="foto">Foto de usuario</label>
            <input type="file" name="foto" id="foto" placeholder="foto"><br>

        <div class="formulario-flex">
            <label for="pass">Contrasena</label>
            <input type="password" name="pass" id="pass" placeholder="contrasena">

            <label for="pass-con">Confirmar contrasena</label>
            <input type="password" name="pass-con" id="pass-con" placeholder="Confirmar contrasena">
        </div>
       

        <br><button type="submit">Enviar</button>
            <button type="reset">Reiniciar</button>

        </form>

    </main>
    
    <footer>
        <div class="footer-el">
        <div><i class="fas fa-credit-card icono"></i></div>
        <h3>Paga con tarjeta o en efectivoo</h3>
        <p>Con MercadoLiebreCash tenes cuotas sn interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
    </div>
    <div class="footer-el">
        <div><i class="fas fa-credit-card icono"></i></div>
        <h3>Paga con tarjeta o en efectivoo</h3>
        <p>Con MercadoLiebreCash tenes cuotas sn interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
    </div>
    <div class="footer-el">
        <div><i class="fas fa-credit-card icono"></i></div>
        <h3>Paga con tarjeta o en efectivo</h3>
        <p>Con MercadoLiebreCash tenes cuotas sn interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
    </div>

    </footer>
    
</body>
</html>